[submodule "Logger"]
	path = Logger
	url = git@github.com:milos85vasic/Logger.git
[submodule "Utils"]
	path = Utils
	url = git@github.com:Server-Factory/Utils.git
[submodule "Upstreamable"]
	path = Upstreamable
	url = git@github.com:red-elf/Upstreamable.git
